@import '../../scss/text';
.extend-icon {
    display: flex;
    align-items: center;
    @extend .text;
    @extend .text_size_xs;
    &__label {
        margin-right: 4px;
    }
    &__icon {
        opacity: 0.3;
        margin-right: 4px;
    }

    &__sub-label {
        opacity: 0.65;
    }
}