@import '../../scss/color';

.icon {
    height: 12px;
    width: 12px;
    &_size {
        &_s {
            height: 10px;
            width: 10px;
        }
        &_m {
            height: 12px;
            width: 12px;
        }
        &_l {
            height: 16px;
            width: 16px;
        }
        &_xl {
            height: 24px;
            width: 24px;
        }
        &_xxl {
            height: 124px;
            width: 124px;
        }
    }
}

@mixin icon_size_l {
    height: 16px;
    width: 16px;
}
