@import '../../scss/color';
@import '../../scss/layout';
@import '../../scss/adaptive';

.list {
    @include layout(8px, column);
    padding-top: 8px;
    &__button {
        align-self: flex-start;
    }
}

@media screen and (max-width: $break-point) {
    .list__button {
        align-self: initial;
    }
}