$black-500: #000000;
$black-400: #111111;
$black-200: #D9D9D9;
$black-100: #E6E6E6;
$black-50: #F2F2F2;
$black-0: #FFFFFF;
$blue-grey-600: #434445;
$blue-grey-500: #7F8285;
$blue-grey-50: #F0F2F3;
$green-500: #00B341;
$red-500: #FF3333;
$red-600: #E00000;
$orange-500: #FF9A00;
$yelow-500: #FFCC00;




$color-bg-base: $black-0;
$color-bg-heavy: $black-200;
$color-bg-light: $blue-grey-50;
$color-bg-action: $yelow-500;
$color-bg-control: $black-100;

$color-text: $black-500;
$color-ghost-text: $blue-grey-500;
$color-under-text: $blue-grey-600;
$color-link-text: $red-600;

$color-done: $green-500;
$color-fail: $red-500;
$color-panding: $orange-500;

