@import 'color';
@import 'text';
@import 'icon';
@import 'layout';
@import 'adaptive';

.card {
    position: relative;
    box-shadow: 0px 1px 1px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
    border-radius: 6px;
    padding: 12px 24px 12px 56px;
    display: flex;
    justify-content: space-between;
    &_clickable {
        cursor: pointer;
        &:hover {
            box-shadow: 0px 2px 8px rgba(67, 68, 69, 0.3), 0px 0px 1px rgba(67, 68, 69, 0.3);
        }
    }
    &_type {
        &_done {
            .card__icon {
                fill: $color-done;
            }
            .card__id {
                color: $color-done;
            }
        }
        &_fail {
            .card__icon {
                fill: $color-fail;
            }
            .card__id {
                color: $color-fail;
            }
        }
        &_panding {
            .card__icon {
                fill: $color-panding;
            }
            .card__id {
                color: $color-panding;
            }
        }
    }
    &__icon {
        @extend .icon_size_l;
        position: absolute;
        left: 24px;
    }
    &__title {
        @extend .text;
        @extend .text_size_s;
        display: flex;
        align-items: baseline;
    }
    &__id {
        margin-right: 4px;
        @extend .text;
        @extend .text_weight_medium;
        @extend .text_size_m;
    }
    &__meta {
        opacity: 0.65;
        @include layout(12px, column);
    }
    &__content {
        margin-top: 8px;
        @include layout(8px, row);
    }
    &_view_detail {
        flex-direction: column;
        .card__content {
            @include layout(8px, row);
            padding-bottom: 8px;
            border-bottom: #F0F2F3 solid 1px;
        }
        .card__meta {
            margin-top: 8px;
            @include layout(8px, row);
        }
    }
}

//for mobile
@media screen and (max-width: $break-point) {
    .card {
        padding: 16px 12px 16px 36px;
        flex-direction: column;
        &__id {
            margin-bottom: 8px;
        }
        &__title {
            flex-direction: column;
        }
        &__icon {
            left: 12px;
            @include icon_size_l;
        }
        &__content {
            @include layout(8px, column);
            padding-bottom: 8px;
            border-bottom: #F0F2F3 solid 1px;
        }
        &__meta {
            margin-top: 8px;
            @include layout(8px, row);
        }
        &_view_detail {
            flex-direction: column;
            .card__content {
                @include layout(8px, column);
            }
        }
    }
}