@import 'adaptive';
.content {
    max-width: 857px;
    margin: 0 auto;
    padding: 10px 16px;
    &_align {
        &_horisontal {
            justify-content: space-between;
            display: flex;
            align-items: center;
        }
        &_vertical {
            justify-content: space-between;
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
    &_justify {
        &_center {
            justify-content: center;
        }
    }
    &_type_main {
        padding: 0 16px 20px 16px;
    }
}

//for mobile
@media screen and (max-width: $break-point) {
    .content {
        padding: 12px 16px;
        &_type_main {
            padding: 0 16px 16px 16px;
        }
        &_full-adaptive {
            padding-left: 0;
            padding-right: 0;
        }
    }
}