@import "icon";
@import "button";
@import "page";
@import "content";
@import "header";
@import "footer";
@import "text";
@import "informer";
@import "field";
@import "form";
@import "card";
@import "extend-icon";
@import "list";
@import "code-presenter";
@import "layout";

body {
    margin: 0;
    font-family: "YS Text";
}

h1, p {
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

$break-point: 500px;